PUBLIC_FIREBASE_API_KEY="AIzaSyBeGYdrAVZueoi3RfdU8gtmrWjYdlOPfY0"
PUBLIC_FIREBASE_AUTH_DOMAIN="portfolio-hugo-alen.firebaseapp.com"
PUBLIC_FIREBASE_PROJECT_ID="portfolio-hugo-alen"
PUBLIC_FIREBASE_STORAGE_BUCKET="portfolio-hugo-alen.firebasestorage.app"
PUBLIC_FIREBASE_MESSAGING_SENDER_ID="85962387004"
PUBLIC_FIREBASE_APP_ID="1:85962387004:web:af683ab698b66f09909d39"
PUBLIC_ADMIN_EMAIL="hugoaalen@gmail.com"
