---
const personalImageAlt = "Hugo Alén";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo <em class="font-bold not-italic">Hugo Alén</em>, soy un desarrollador web y técnico en soporte de sistemas y redes nacido en Vigo. <br>
    Trabajo dando soporte técnico, administrando redes e infraestructura tecnológica. Esta experiencia me ha permitido fortalecer mi perfil técnico y ampliar mi visión de cómo la tecnología puede mejorar procesos en distintos entornos. <br>
    Mi enfoque combina habilidades técnicas sólidas con un ojo creativo gracias a mi formación en diseño gráfico, lo que me permite crear soluciones web que no solo funcionan de manera eficiente, sino que también son visualmente atractivas.
  </p>
  <p>
    Actualmente curso <em class="text-yellow-100 not-italic">Ingeniería Informática</em>, lo que complementa mi experiencia laboral con una base sólida en desarrollo de software, estructuras de datos, redes y sistemas operativos. <br>
  </p>
  <p>
    <em class="text-yellow-100 not-italic">En el ámbito personal</em>, disfruto practicar deportes, especialmente el fútbol, pasar tiempo con mis amigos y explorar las últimas novedades en tecnología. <br>
    Si buscas un desarrollador y técnico comprometido, apasionado y con ganas de aportar valor, ¡me encantaría colaborar contigo!
  </p>
  
  </div>
</article>
