---
 const personalImageAlt = "Hugo Alén"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Hugo Alén.</strong
      >
    </p>

    <p>
      Como <em class="italic">desarrollador web</em>, trabajo con tecnologías como <strong
        >PHP, Java, C#, JavaScript o React</strong
      >. Mi objetivo principal es continuar expandiendo mis conocimientos y habilidades, 
      para asegurar que cada una de mis aplicaciones alcance un nivel de calidad cada vez más alto.
    </p>

    <p>
      Como <em class="italic">diseñador gráfico</em>, estoy acostumbrado a casi todos los programas de Adobe
      como pueden ser: <strong>Photoshop, Illustrator, Indesign, Premiere y After Effects</strong
      >. Trato de que cada uno de mis proyectos sea único, y para eso en la mayoría utilizo mis 
      conocimientos en diseño.
    </p>
  </div>

  <img width="200" height="200" src="/public/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
