---
const personalImageAlt = "Hugo Alén";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <em class="font-bold not-italic">Hugo Alén</em> y soy un desarrollador web orientado a resultados con una
      pasión por aprender y mejorar cada día. <br>
      Mi enfoque combina habilidades técnicas sólidas con un ojo creativo
      gracias a mi formación en diseño gráfico, lo que me permite crear
      soluciones web que no solo funcionan de manera eficiente, sino que también
      son visualmente atractivas. <br>
      Domino tecnologías como <strong
        >HTML, CSS, JavaScript, PHP, Java, Astro o C#</strong
      >, lo que me permite adaptarme a diferentes proyectos y necesidades.
      <p>
        Aunque mi <em class="text-yellow-100 not-italic">experiencia profesional</em> se limita a mis prácticas, he
        aprovechado cada oportunidad para desarrollar mis habilidades y
        enfrentar desafíos con entusiasmo. Creo firmemente en el poder del
        diseño y la tecnología para transformar ideas en experiencias
        impactantes. Siempre estoy en busca de proyectos que me reten a crecer y
        donde pueda aportar valor a través de soluciones innovadoras y
        funcionales.
      </p>
      <p>
        <em class="text-yellow-100 not-italic">Fuera del desarrollo web</em>, disfruto de practicar
        deportes, especialmente el fútbol, pasar tiempo con mis amigos y
        explorar las últimas novedades en tecnología. <br>
        Si buscas un desarrollador web comprometido, apasionado y con ganas de
        aportar valor, ¡me encantaría colaborar contigo!
      </p>
    </p>
  </div>
</article>
