---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Septiembre - Noviembre 2024",
    title: "Desarrollador Web",
    company: "Siscom Software Factory.",
    description:
      "En mis prácticas en Siscom, desarrollé software a medida para clientes utilizando C# con .NET Framework y .NET Core MVC para el backend. En el frontend, trabajé con HTML, CSS, JavaScript y Bootstrap. Integrando NuGets como Entity Framework o EPPlus. Utilicé herramientas como Visual Studio para el desarrollo, Microsoft SQL Server Management Studio y MySQL Workbench para la administración de bases de datos, y Beyond Compare para el control de versiones."
  },
  {
    date: "Eventualmente (desde 2023)",
    title: "Visual Merchandising",
    company: "Addiction Tu Moda",
    description:
      "Me encargo del merchandising visual de las pantallas en modo mosaico en el escaparate de la tienda, así como del mantenimiento informático.En este trabajo combino el diseño gráfico con el desarrollo web.",
  },
  {
    date: "Abril - Junio 2022",
    title: "Técnico en impresión",
    company: "Cdec Group",
    description:
      "A lo largo de estos 3 meses en prácticas estuve trabajando con diferentes máquinas de impresión, corte convencional y corte láser. También en diseño, realizando proyectos como campañas publicitarias para eventos a gran escala o tiendas de alto nivel. Tuve la opción de quedarme en la empresa pero quería seguir formándome.",
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
