---
const personalImageAlt = "Hugo Alén";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import DownloadIcon from "@/components/icons/Download.astro";
import MailIcon from "@/components/icons/Mail.astro";
import GitHub from "@/components/icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-5xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/alacdev.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/hugo-al%C3%A9n-acu%C3%B1a-aaa7772a3/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Hugo Alén
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  Soy un <strong>desarrollador web y técnico de sistemas</strong> en constante evolución.

  </p>
  <p
    class="mt-2 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  Actualmente trabajo en <em class="italic">Grupo Marsan</em>, dentro del área de <strong>Organización y Sistemas</strong>, donde colaboro en la mejora y gestión de procesos tecnológicos. <br>
  Compagino este trabajo con mis proyectos personales y mis estudios de grado en <strong>Ingeniería Informática</strong> en la <em class="italic">Universitat Oberta de Catalunya </em> .
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="/cv.pdf" download="CV-Hugo-Alen.pdf">
      <DownloadIcon class="size-4" />
      Descargar CV
    </SocialPill>
    <SocialPill href="mailto:hugoaalen@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/hugo-al%C3%A9n-acu%C3%B1a-aaa7772a3/"
    >
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/hugoaalen">
      <GitHub class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>
